@import "../bootstrap/less/variables.less";
@import "../bootstrap/less/mixins.less";

@arcticBlue: #9EC6DD;

@arcticBlueDarker: darken(@arcticBlue, 30%);
@arcticBlueDark: darken(@arcticBlue, 15%);
@arcticBlueLight: @arcticBlue;
@arcticBlueLighter: lighten(@arcticBlue, 15%);


@navbarArcticBackground:                @arcticBlueDark;
@navbarArcticBackgroundHighlight:       @arcticBlueLighter;

@navbarArcticText:                      @grayLighter;
@navbarArcticLinkColor:                 @grayLighter;
@navbarArcticLinkColorHover:            @white;
@navbarArcticLinkColorActive:           @navbarArcticLinkColorHover;
@navbarArcticLinkBackgroundHover:       transparent;
@navbarArcticLinkBackgroundActive:      @navbarArcticBackground;

@navbarArcticBrandColor:                @navbarArcticLinkColor;

/* BOOTSTRAP CHANGES */
.input-append .tooltip,
.input-prepend .tooltip {
  white-space: normal;
}

abbr[title], acronym[title] {
  text-decoration: none;
}

.btn-primary>.caret, .btn-warning>.caret, .btn-danger>.caret, .btn-info>.caret, .btn-success>.caret, .btn-inverse>.carrent {
  border-top-color: #ffffff !important;
  border-bottom-color: #ffffff !important;
}

.dropdown-menu .dropdown-text {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

.form-actions {
  border: 0;
}

.tab-content {
  overflow: inherit;
}

/* FORCE WIDTH IN CALENDAR */
.fc .tooltip { width: 200px; }
.fc .popover { width: 276px; }


.tooltip {
  &.top    { padding-top: 0; }
  &.right    { padding-right: 0; }
  &.bottom    { padding-bottom: 0; }
  &.left    { padding-left: 0; }
}

/* BOOTSTRAP backport */
/*
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

// Right aligned dropdowns
// ---------------------------
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
*/

/* DESIGN */
body>div.container-fluid {
    width: 92%;
    margin: 0 auto;
}
#brand {
  cursor: pointer;
  h1 {
    background-repeat: no-repeat;
    &.arctic {
      margin: 5px 3px;
      height: 95px;
      background-image: url(logo.png);
      background-position: left center;
    }
    &.brand {
      margin: 15px 3px;
      height: 75px;
      background-image: url(/brand/brand.png); // TODO: fix pre-CDN
      background-position: right center;
    }
  }
}
#main {
  background-color: white;
}
#topbar {
	border-bottom: 2px groove @grayLighter;
	.navbar {
		margin-bottom: 0;
	}
	.navbar-inner {
		#gradient > .vertical(@arcticBlueDark, @arcticBlueDarker);
		border: 0;
		.border-radius(0);
	}
	
	// BEGIN BOOTSTRAP CUSTOMIZATIONS
	
  color: @grayLighter;
  
  .navbar {

  .brand,
  .nav > li > a {
    color: @navbarArcticLinkColor;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    &:hover {
      color: @navbarArcticLinkColorHover;
    }
  }

  .nav > li > a:focus,
  .nav > li > a:hover {
    background-color: @navbarArcticLinkBackgroundHover;
    color: @navbarArcticLinkColorHover;
  }

  .nav .active > a,
  .nav .active > a:hover,
  .nav .active > a:focus {
    color: @navbarArcticLinkColorActive;
    background-color: @navbarArcticLinkBackgroundActive;
  }

  // Inline text links
  .navbar-link {
    color: @navbarArcticLinkColor;
    &:hover {
      color: @navbarArcticLinkColorHover;
    }
  }

  // Dividers in navbar
  .divider-vertical {
    border-left-color: @navbarArcticBackground;
    border-right-color: @navbarArcticBackgroundHighlight;
  }

  // Dropdowns
  .nav li.dropdown.open > .dropdown-toggle,
  .nav li.dropdown.active > .dropdown-toggle,
  .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: @navbarArcticLinkBackgroundActive;
    color: @navbarArcticLinkColorActive;
  }
  .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: @navbarArcticLinkColor;
    border-bottom-color: @navbarArcticLinkColor;
  }
  .nav li.dropdown.open > .dropdown-toggle .caret,
  .nav li.dropdown.active > .dropdown-toggle .caret,
  .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-top-color: @navbarArcticLinkColorActive;
    border-bottom-color: @navbarArcticLinkColorActive;
  }

  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    #gradient > .vertical(@arcticBlueDark, @arcticBlueDarker);
    background-color: @arcticBlueDarker;
  }

  .badge-important {
    // option 1: DB7479
    // option 2: 7F4346
    // option 3: CC6C71
    background-color: #B24D52; //c96a68
  }

  form {
    border:0;
    .box-shadow(none);
  }
  
  // Navbar search
  .navbar-search {
    .search-query {
      color: @white;
      background-color: @arcticBlueLight;
      border-color: @arcticBlueDarker;
      .box-shadow(~"inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15)");
      .placeholder(@grayLighter);

      -webkit-transition-property: width;
      -moz-transition-property: width;
      -o-transition-property: width;
      transition-property: width;

      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;

      // Focus states (we use .focused since IE7-8 and down doesn't support :focus)
      &:focus,
      &.focused {
        color: @black;
        text-shadow: 0 1px 0 @grayLighter;
        background-color: @arcticBlueLighter;
        outline: 0;
        .placeholder(@arcticBlueDark);
        width: 180px;
      }
    }
  }

  // Navbar collapse button
  .btn,
  .btn-navbar {
    .buttonBackground(lighten(@arcticBlueDarker, 5%), darken(@arcticBlueDarker, 10%));
  }

  .btn-group>.dropdown-toggle .caret {
    border-top-color: @navbarArcticLinkColor;
    border-bottom-color: @navbarArcticLinkColor;
  }

  .btn-group {
    margin-right: 15px;
  }
  
  .btn-group.open .btn.dropdown-toggle {
    .buttonBackground(lighten(@arcticBlue, 5%), darken(@arcticBlue, 10%));
    /*background-color: @arcticBlueDarker;*/
  }
  
  // END BOOTSTRAP CUSTOMIZATIONS
  }
}
@media (max-width: @navbarCollapseWidth) {
  .nav-collapse.collapse {
    .dropdown-menu {
      a {
        color: @navbarArcticLinkColor;
        &:hover {
          color: @navbarArcticLinkColorHover;
          background-color: transparent;
        }
      }
      .active a,
      .active a:focus,
      .active a:hover {
        color: @navbarArcticLinkColorActive;
        background-color: @navbarArcticLinkBackgroundActive;
      }
    }
  }
}
#sidebar {
  background-color: #fafafa;
  border-right: 1px inset @grayLighter;
  border-bottom: 1px inset @grayLighter;
  .border-bottom-right-radius(3px);

  .big-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    .ie7-restore-right-whitespace();
    line-height: 14px;
    vertical-align: text-top;
    background-repeat: no-repeat;
    margin-top: -3px;
    &.addr {
      background-image: url("icon-addr.png");
    }
    &.gear {
      background-image: url("icon-gear.png");
    }
    &.cal {
      background-image: url("icon-cal.png");
    }
    &.cal2 {
      background-image: url("icon-cal2.png");
    }
    &.monitor {
      background-image: url("icon-monitor.png");
    }
    &.invoice {
      background-image: url("icon-invoice.png");
    }
    &.mail {
      background-image: url("icon-mail.png");
    }
    &.store {
      background-image: url("icon-store.png");
    }
    &.disc {
      background-image: url("icon-disc.png");
    }
  }

  &>ul>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    color: @gray;

    .icon-chevron-up {
      margin-top: 4px;
    }
  }

  .collapsed>.icon-chevron-up {
    background-position: -313px -119px;
  }
}
#primary {
  background-color: white;
  padding-right: @fluidGridGutterWidth;
  &.arctic-single-column {
    padding-left: @fluidGridGutterWidth;
}
}
footer {
	border-top: 2px groove @grayLighter;
	background-color: #eeeeee;
	text-shadow: 0 1px 0 #fff;
	font-size: 11px;
	line-height: 15px;
	div { 
		color: @gray;
		padding: 15px 15px 15px;
	}
}

/* GENERAL */
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.valign-center {
  vertical-align: middle;
}
.valign-bottom {
  vertical-align: bottom;
}
.loading-overlay {
  background-color: #ccc;
  background-image: url(loading.gif);
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.4;
  filter: alpha(opacity=40);
  min-height: 70px;
}

/* MEDIA QUERIES */
/* Pixel ratio of 2. Background-size is 1/2 = 50% (of a 200px image) */
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  #brand h1.arctic { background-image: url(logo-2x.png); background-size: auto 95px; }
  #brand h1.brand { background-image: url(/brand/brand-x2.png); background-size: auto 75px; } // TODO: fix pre-CDN
}
/* desktops */
@media screen and (min-width: (@navbarCollapseWidth+1)) {
  body {
    background-color: white;
    padding-bottom: 45px;
  }
  #main {
    border: 1px solid @gray;
  }
}
/* tablets and phones */
@media screen and (max-width: @navbarCollapseWidth) {
  body {
    padding:0;
    background-color: #eeeeee;
  }
  body>div.container-fluid {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  #brand {
    background-color: white;
  }
  #main {
    border: 0;
  }
  #primary {
    padding-left: @fluidGridGutterWidth768;
    margin-left: 0;
  }
}
/* big screens */
@media screen and (min-width:1200px) {
  body>div.container-fluid {
    width: 87%;
  }
}

/* DATATABLE CHANGES */
.dataTables_wrapper {
  margin-bottom: 10px;
  select[size='1'] {
    height: 30px;
  }
}

/* ELEMENTS */

.conditional-list {
  margin: 0;

  .border-radius(6px);
  border: 1px solid @grayLighter;
  background-color: @wellBackground;
  padding: 5px;
  margin-bottom: 10px;
  .box-shadow(~"inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)");

  .conditional-list {
    border: 2px solid @grayLight;
  }

  li.header {
    display: block;
    padding: 3px 15px;
    .header-text {
      line-height: @baseLineHeight;
      font-size: 11px;
      font-weight: bold;
      color: @grayLight;
      text-shadow: 0 1px 0 rgba(255,255,255,.5);
      text-transform: uppercase;
    }

    .btn-group {
      text-align: left;
    }
  }


  li.condition {
    list-style-type: none;
    .border-radius(6px);
    border: 1px solid @infoBorder;
    padding: 5px;
    margin-bottom: 10px;
    background-color: @infoBackground;
    .box-shadow(~"inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)");

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.ui-sortable {
    li.condition {
      cursor: move;
    }
  }
}

/* Row List (settings and form editor) */
.row-list div.row-fluid {
  border-top: 1px solid @tableBorder;
  padding: 5px 0;

  &:first-child {
    border-top: 0;
  }

  &:nth-child(even) {
    background-color: @tableBackgroundAccent;
  }
}

/* Keywords */
.keyword-field {
  button.close {
    margin-top: -5px;
    opacity: 0.5;
    float: none;
  }
  span.label {
    margin-right: 5px;
  }
  .keyword-list {
    padding-bottom: 10px;
  }
  .keyword-list:empty {
    padding-bottom: 0;
  }
}

/* condense forms */
.tabs-left > .nav-tabs {
  margin-bottom: 0;
}

.tab-pane > fieldset > .control-group:last-child {
  margin-bottom: 0;
}

.form-horizontal .control-group {
  margin-bottom: 15px;
}

/* trip */
#calendar {
  .fc-basic-view .fc-day-number {
    text-align: left;
  }

  &.fc-ltr .fc-event-hori.fc-event-start,
  &.fc-rtl .fc-event-hori.fc-event-end {
    border-left-width: 2px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &.fc-ltr .fc-event-hori.fc-event-end,
  &.fc-rtl .fc-event-hori.fc-event-start {
    border-right-width: 2px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

/* Horizontal List */
.dl-horizontal-small {
  dt {
    width: ( @horizontalComponentOffset / 1.7 ) - 20;
  }
  dd {
    margin-left: ( @horizontalComponentOffset / 1.7 );
  }
}

@media (max-width: 1100px) {
  // TYPOGRAPHY
  // ----------
  // Reset horizontal dl
  .dl-horizontal-small {
    dt {
      float: none;
      clear: none;
      width: auto;
      text-align: left;
    }
    dd {
      margin-left: 0;
    }
  }
}

/* MODAL */
.modal-body>h1 { display: none; }
.modal-body .hide-modal { display: none; }

// MODAL HEADER BUTTONS
.modal-header button { margin-left: 12px; }
.modal-header .btn {
  .opacity(20);

  &:hover,
  &:focus {
    .opacity(40);
  }
}

// IMPROVE SCROLLING IN MODAL
.modal-body {
  -webkit-overflow-scrolling: touch;
}

/* COMMON */
.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.hidden-elements {
	position: absolute;
	top: -5000px;
	left: -5000px;
}
.ellipsify-container {
	position: relative;
	overflow: hidden;
	.ellip-content {
		display: inline-block;
		overflow: hidden;
		white-space: nowrap;
	}
	.ellip {
		position: absolute;
		top: 0;
		right: 0;
	}
}
.ellipsis {
	.text-overflow();
}
.nowrap {
	white-space: nowrap;
}
.align-right,
.table td.align-right {
	text-align: right;
}
.spacious>li {
  line-height: 28px;
}

.only-print {
	display: none !important;
}

.no-wrap {
  white-space: nowrap;
}

.drag-placeholder {
  border: 3px dashed #ff8c00;
}
.table th.text-center, .table td.text-center { text-align: center; }
.table th.text-right, .table td.text-right { text-align: right; }

/* WEIRDNESS */
// for chrome before 2x something when they fix this bug
input[type="date"]::-webkit-calendar-picker-indicator{
 display:inline-block;
}

html.fullscreen {
  body {
    background-color: @white;
  }

  body>.container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
  }


  #main {
    border: 0;
    margin: 0;
    padding: 0;

  }

  #brand,
  #sidebar {
    display: none;
  }

  #primary {
    display: block;
    width: 100%;
    margin: 0;
  }
}

/* PRINTING */
@media print {
  #primary { display: block; width: 100%; margin: 0; padding: 0; float: none; }

  body>div.container-fluid {
    display: block;
    margin: 0;
    padding: 0;
  }

  .no-print { display: none !important; }
  .only-print { display: inherit !important; }

  .btn { display: none !important; }

  .fg-toolbar { border: 0; &:first-child{ display: none; } } /* hide box border for datatable and search/filter options */
  .dataTables_wrapper th { border: 0; text-align: left; color: black; }

  // hide href
  a[href]:after {
    display: none;
  }

  // smaller headers
  h1,
  h2 { line-height: @baseLineHeight * 1.5; }

  h1 { font-size: @baseFontSize * 2; }
  h2 { font-size: @baseFontSize * 1.75; }
  h3 { font-size: @baseFontSize * 1.5; }
  h4 { font-size: @baseFontSize * 1.25; }
  h5 { font-size: @baseFontSize; }
  h6 { font-size: @baseFontSize * 0.85; } // ~12px

  h1 small { font-size: @baseFontSize * 1.25; }
  h2 small { font-size: @baseFontSize * 1.125; }
  h3 small { font-size: @baseFontSize; }
  h4 small { font-size: @baseFontSize; }
}

/* FIREFOX WORK AROUND... date picker gets incorrect z-index */
@-moz-document url-prefix() {
  .ui-datepicker {
    z-index: 9999 !important;
  }
}

/* COLLAPSE CLIPPING */
.form-collapsible .collapse.in {
  overflow: inherit;
}

/* ARCITC BUTTONS */
.btn-super {
  .buttonBackground(@arcticBlueDark, @arcticBlueDarker);
}
.dd-super {
  background-color: @arcticBlueDark;
}

// IMPROVE THUMBNAILS
.row-fluid {
  .thumbnails > li.span2:nth-child(6n+1),
  .thumbnails > li.span3:nth-child(4n+1),
  .thumbnails > li.span4:nth-child(3n+1),
  .thumbnails > li.span6:nth-child(2n+3) {
    margin-left: 0 !important;
    clear: left;
  }
}

// LINE BREAKS IN OPERA
wbr:after { content: "\00200B"; }

// FIX DROPDOWN IN COLLAPSED NAVBAR
@media (max-width: @navbarCollapseWidth) {
  // Dropdowns in the navbar
  .nav-collapse .dropdown-menu {
    position: relative;
  }
}

// FIX SUPER WIDE CHECKBOX LABELS
.controls label.checkbox {
  display: inline-block;
}
