@font-face {
    font-family: 'poppinsbold';
    src: url('poppins-bold-webfont.woff2') format('woff2'),url('poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'poppins_lightregular';
    src: url('poppins-light-webfont.woff2') format('woff2'),url('poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'poppins_mediumregular';
    src: url('poppins-medium-webfont.woff2') format('woff2'),url('poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Poppins';
    src: url('poppins-regular-webfont.woff2') format('woff2'),url('poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

.icon-user {
    background: url("user_profile.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-top: 4px
}

.icon-question-sign {
    background: url("ico-auestion.png") 0 0 no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    margin-top: -1px;
    margin-right: 7px;
    margin-top: 3px
}

.icon-ok {
    background: url("ico-notification.png") 0 0 no-repeat;
    background-size: cover;
    width: 11px;
    height: 12px;
    margin-top: 3px
}

.icon-envelope {
    background: url("ico-email.png") 0 0 no-repeat;
    background-size: cover;
    width: 11px;
    height: 10px;
    margin-top: 3px
}

.icon-plus {
    background: url("ico-create.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-top: 3px
}

.icon-list-alt {
    background: url("ico-browse.png") 0 0 no-repeat;
    background-size: cover;
    width: 10px;
    height: 12px;
    margin-top: 3px
}

.icon-tasks {
    background: url("ico-inqueries.png") 0 0 no-repeat;
    background-size: cover;
    width: 6px;
    height: 10px;
    margin-top: 5px
}

.icon-calendar {
    background: url("ico-calendar.png") 0 0 no-repeat;
    background-size: cover;
    width: 11px;
    height: 12px;
    margin-top: 3px
}

.icon-list {
    background: url("ico-types.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 11px;
    margin-top: 3px !important;
}

body {
    font-family: 'Poppins',sans-serif;
}

.btn,.btn.active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.btn.edit-setting {
    background: #fff;
    border: 1px solid #dde1e5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.btn.edit-setting .icon-pencil {
    background: url(ico-edit.png) 0 0 no-repeat;
    width: 12px;
    height: 12px;
    background-size: contain
}

.spacious .btn {
    background: #fff;
    border: 1px solid #dde1e5;
    font-size: 10px;
    height: 30px;
    padding: 5px;
    color: #212529;
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

#primary .spacious .btn {
    color: #212529
}

.spacious .btn .icon-file {
    background: url(ico-browse2.png) 0 0 no-repeat;
    width: 12px;
    height: 12px;
    margin-top: 2px
}

.spacious .btn .icon-edit {
    background: url(ico-edit.png) 0 0 no-repeat;
    width: 12px;
    height: 12px;
    margin-top: 2px;
    background-size: contain
}

.spacious .btn-info {
    background: #5ddb9b
}

.spacious .btn-info .icon-globe {
    background: url(ico-globe.png) 0 0 no-repeat;
    width: 14px;
    height: 14px
}

#primary .dropdown-menu>li>a {
    color: #212529
}

.form-horizontal .control-label {
    width: auto;
    font-family: 'poppins_lightregular',sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #212529;
    margin-right: 10px;
    display: inline-flex;
    float: none
}

.form-horizontal .controls {
    margin-left: 0
}

.form-horizontal .controls a {
    color: #32c279
}

.form-horizontal .controls.text-info {
    font-family: 'poppins_mediumregular';
    font-size: 14px;
    line-height: 21px;
    color: #32c279
}

.form-horizontal .controls.text-info .btn .icon-edit {
    background: url(ico-edit.png) 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px
}

.form-horizontal input {
    background: #fff;
    border: 1px solid #dde1e5;
    height: 30px;
    padding: 0 10px;
    margin-right: 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #afb3b7;
    box-sizing: border-box;
    border-radius: 4px
}

.form-horizontal .input-prepend input[type="text"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.form-horizontal input[type="radio"] {
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: -6px;
}

.form-horizontal input:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.form-horizontal select {
    background: url("btn-select.png") 100% -1px no-repeat #fff;
    border: 1px solid #dde1e5;
    border-right: 0;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 10px;
    height: 30px;
    font-family: 'Poppins',sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #212529;
    padding-right: 35px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none
}

.form-horizontal select:focus {
    background: url("btn-select-focus.png") 100% -1px no-repeat #fff;
    outline: 0
}

.form-horizontal textarea,.form-vertical textarea {
    background: #fff;
    border: 1px solid #dde1e5;
    width: 220px;
    height: 50px;
    padding: 10px;
    margin-right: 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #afb3b7;
    box-sizing: border-box;
    border-radius: 4px
}

.form-horizontal textarea:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.form-horizontal .form-actions,.form-vertical .form-actions {
    padding-left: 20px;
    background: #f8f9fa;
    border: 1px solid #e8ebee;
    box-sizing: border-box;
    border-radius: 4px
}

.form-horizontal .form-actions button,.form-vertical .form-actions button {
    outline: 0;
    border: 3px solid transparent;
    height: 30px;
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    margin-right: 5px;
    font-size: 14px;
    line-height: 21px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.form-horizontal .form-actions button[type="submit"],.form-vertical .form-actions button[type="submit"] {
    background: #5ddb9b;
    color: #fff
}

.form-horizontal .form-actions button[type="button"],.form-vertical .form-actions button[type="button"] {
    background: #555;
    color: #fff
}

.form-horizontal .form-actions button[type="submit"]:hover,.form-vertical .form-actions button[type="submit"]:hover {
    background: #4da680
}

.form-horizontal .form-actions button[type="button"]:hover,.form-vertical .form-actions button[type="button"]:hover {
    background: #333
}

.form-horizontal .form-actions button[type="submit"]:active,.form-vertical .form-actions button[type="submit"]:active {
    border: 3px solid #5ddb9b
}

.form-horizontal .form-actions button[type="button"]:active,.form-vertical .form-actions button[type="button"]:active {
    border: 3px solid #555
}

.control-group.error input,.control-group.error select,.control-group.error textarea {
    border: 1px solid #f15566
}

.control-group.error .control-label,.control-group.error .help-block,.control-group.error .help-inline {
    color: #f15566
}

.control-group.error,.control-group.error .help-block,.control-group.error .help-inline {
    font-size: 11px;
    line-height: 16px;
    color: #f15566
}

.input-append .add-on,.input-prepend .add-on {
    background: #f8f9fa;
    border: 1px solid #dde1e5;
    height: 30px;
    min-width: 30px;
    box-sizing: border-box;
    border-radius: 0 4px 4px 0;
    margin-left: -7px
}

.input-append .add-on .icon-user,.input-prepend .add-on .icon-user {
    background: url(user_profile2.png) 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px
}

.input-append .add-on .icon-road,.input-prepend .add-on .icon-road {
    background: url(ico-info-road.png) 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 10px;
    margin-top: 3px
}

.form-horizontal .recent-model-widget a.btn,.dropdown-toggle {
    background: #f8f9fa
}

.form-horizontal .recent-model-widget+button.btn {
    background: #f8f9fa;
    height: 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #212529;
    border: 1px solid #dde1e5;
    box-sizing: border-box;
    border-radius: 4px
}

.form-horizontal .recent-model-widget+button.btn:hover {
    background: #dde1e5
}

.form-horizontal .recent-model-widget+button.btn:active {
    background: #dde1e5
}

.help-inline button.btn.btn-mini {
    background: #dde1e5;
    border: 1px solid #dde1e5;
    width: 18px;
    height: 18px;
    padding: 0;
    box-sizing: border-box;
    border-radius: 9px
}

.help-inline button.btn.btn-mini .icon-question-sign {
    background: url(ico-info.png) 0 0 no-repeat;
    background-size: cover;
    width: 2px;
    height: 10px;
    margin-right: 0
}

.dropdown-toggle .icon-wrench {
    background: url(ico-settings2.png) 0 0 no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px;
    margin-top: -4px
}

.dropdown-toggle .icon-cog {
    background: url(ico-settings.png) 0 0 no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px;
    margin-top: 2px
}

.alert {
    background: rgba(255,212,0,0.2);
    border: 1px solid #ffd400;
    font-family: 'poppins_mediumregular',sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #212529;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 4px
}

.alert-danger,.alert-error {
    background: rgba(241,85,102,0.1);
    border: 1px solid #f15566;
    font-family: 'poppins_mediumregular',sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #212529;
    box-sizing: border-box;
    border-radius: 4px
}

.btn.btn-add-keyword {
    border: 0;
    background: #5ddb9b;
    height: 30px;
    padding: 0 20px;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    border-radius: 15px
}

.tabs-left>.nav-tabs {
    border-right: transparent;
    font-family: 'Poppins',sans-serif
}

.tabs-left>.nav-tabs .nav-header {
    font-family: 'poppins_mediumregular',sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #212529;
    text-transform: none;
    text-align: left;
    margin-bottom: 10px;
    padding: 0
}

.tabs-left>.nav-tabs .active a {
    background: #f8f9fa;
    border: 1px solid #e8ebee;
    font-size: 14px;
    line-height: 21px;
    color: #212529;
    padding: 5px 15px;
    margin-bottom: 5px;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px
}

.tabs-left>.nav-tabs .active .remove-item {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

.tabs-left>.nav-tabs .active .remove-item .icon-remove {
    background: url("ico-remove.png") 0 0 no-repeat;
    background-size: cover;
    width: 10px;
    height: 10px;
    margin-top: 1px;
}

.tabs-left>.nav-tabs .add-new .btn-link {
    font-size: 14px;
    line-height: 21px;
    color: #212529
}

.tabs-left>.nav-tabs .add-new .btn-link .icon-plus {
    background: url("ico-add2.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-right: 7px
}

.well a {
    font-size: 12px;
    line-height: 18px;
    color: #32c279
}

.form-horizontal .well {
    border: transparent;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.form-horizontal .well .tab-content {
    overflow: hidden;
    background: #f8f9fa;
    border: 1px solid #e8ebee;
    padding: 10px 15px;
    margin-top: 30px;
    box-sizing: border-box;
    border-radius: 4px
}

.form-horizontal .well .tab-content .control-label {
    width: 155px;
    text-align: right
}

.form-horizontal .well .tab-content input,.form-horizontal .well .tab-content select {
    width: 190px
}

@media screen and (min-width: 980px) {
    body {
        padding-bottom:25px
    }
}

#brand {
    padding: 20px 0 10px
}

#brand h1.arctic {
    background: url("logo.png") 0 center no-repeat;
    background-size: 172px 32px;
}

#topbar .navbar-inner {
    background: #555;
    padding-left: 10px;
    padding-right: 10px
}

#topbar .navbar .btn,#topbar .navbar .btn-navbar {
    background: rgba(255,255,255,.1);
    border-radius: 4px
}

#topbar .navbar .btn-group.open .btn.dropdown-toggle {
    background: rgba(255,255,255,.1)
}

#topbar .navbar .btn:hover,#topbar .navbar .btn-navbar:hover,#topbar .navbar .btn:focus,#topbar .navbar .btn-navbar:focus,#topbar .navbar .btn:active,#topbar .navbar .btn-navbar:active,#topbar .navbar .btn.active,#topbar .navbar .btn-navbar.active,#topbar .navbar .btn.disabled,#topbar .navbar .btn-navbar.disabled,#topbar .navbar .btn[disabled],#topbar .navbar .btn-navbar[disabled] {
    background: rgba(33,37,41,.3)
}

#topbar .navbar .btn-group.open .btn.dropdown-toggle:hover,#topbar .navbar .btn-group.open .btn.dropdown-toggle:focus,#topbar .navbar .btn-group.open .btn.dropdown-toggle:active,#topbar .navbar .btn-group.open .btn.dropdown-toggle.active,#topbar .navbar .btn-group.open .btn.dropdown-toggle.disabled,#topbar .navbar .btn-group.open .btn.dropdown-toggle[disabled] {
    background: rgba(33,37,41,.7)
}

#topbar .navbar .btn-group>.dropdown-toggle .caret {
    border-top-color: #fff;
    border-bottom-color: #fff
}

#topbar .navbar .badge-important {
    background: #fda94f;
    border-radius: 15px
}

#topbar .navbar .badge-important i {
    margin-right: 7px
}

#topbar .navbar .navbar-search .search-query {
    border: 0;
    background: #fff;
    padding: 10px 15px;
    height: 30px;
    font-size: 14px;
    line-height: 21px;
    color: #8d96ad;
    box-sizing: border-box
}

#topbar .navbar .navbar-search .search-query::-webkit-input-placeholder {
    color: #8d96ad
}

#topbar .navbar .navbar-search .search-query:focus,#topbar .navbar .navbar-search .search-query.focused {
    background: #fff;
    color: #8d96ad
}

#main {
    border: 0
}

#main .row-fluid.no-print+.row-fluid {
    background: #ecf0f4;
    display: flex;
    padding: 0 15px 0 0;
    box-sizing: border-box
}

#primary {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 15px 5px
}

#primary h1 {
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 27px;
    color: #212529;
    margin: 0 0 10px
}

#primary h4 {
    font-family: 'poppins_mediumregular',sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #212529;
    margin-bottom: 15px
}

#primary ul a {
    font-size: 14px;
    line-height: 34px;
    color: #32c279
}

.dl-horizontal {
    font-size: 14px;
    line-height: 21px;
    color: #212529
}

.dl-horizontal a {
    color: #32c279
}

.dl-horizontal .icon-plus-sign {
    background: url(ico-expand.png) 0 0 no-repeat;
    width: 12px;
    height: 12px
}

.dl-horizontal dt {
    font-family: 'poppins_lightregular'
}

.dl-horizontal dd {
    font-family: 'poppins_mediumregular'
}

.btn-toolbar {
    margin-bottom: 30px
}

.btn-toolbar .btn-group {
    margin-left: 10px
}
.row-fluid + .btn-toolbar .btn.btn-small {
    border: 1px solid #dde1e5;
    background: #fff;
    font-size: 14px;
    line-height: 21px;
    color: #212529;
    height: 30px;
    padding-top: 5px;
    box-sizing: border-box
}
.btn-toolbar .btn.btn-small .icon-cog {
    background: url(ico-settings.png) 0 0 no-repeat;
    width: 14px;
    height: 14px;
    margin: 0 5px 0 0;
}
.btn-toolbar .btn-success {
    border: 0;
    background: #5ddb9b;
    height: 30px;
    padding: 5px 15px;
    font-size: 14px;
    line-height: 21px;
    margin-right: 10px;
    border-radius: 15px;
    box-sizing: border-box
}

.btn-toolbar .btn-success .icon-plus {
    background: url("ico-add.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin: 2px 5px 0 0
}

.btn-toolbar .btn-warning {
    border: 0;
    background: #f15566;
    height: 30px;
    padding: 4px 15px;
    font-size: 14px;
    line-height: 21px;
    margin-right: 10px;
    border-radius: 15px;
    box-sizing: border-box
}

.btn-toolbar .btn-warning .icon-remove {
    background: url(ico-close.png) 0 0 no-repeat;
    width: 10px;
    height: 10px;
    margin: 4px 5px 0 0
}

.btn-toolbar .btn-group>.btn:first-child {
    border: 1px solid #dde1e5;
    background: #fff;
    font-size: 14px;
    line-height: 21px;
    color: #212529;
    height: 30px;
    padding-top: 5px;
    box-sizing: border-box
}

.invoice .btn-toolbar .btn.btn-success {
    border: 0;
    background: #5ddb9b;
    color: #fff;
    border-radius: 4px
}

.invoice .btn-toolbar .btn-group>.btn.btn-success.dropdown-toggle {
    border: 0;
    background: #5ddb9b;
    color: #fff;
    border-radius: 4px
}

.invoice .btn-toolbar .btn {
    border: 1px solid #dde1e5;
    background: #fff;
    font-size: 14px;
    line-height: 21px;
    color: #212529;
    height: 30px;
    padding-top: 5px;
    box-sizing: border-box
}

.invoice .btn-toolbar .btn.btn-danger {
    border: transparent;
    background: #f15566
}

.invoice .btn-toolbar .btn .icon-pencil {
    background: url(ico-edit.png) 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px
}

.invoice .btn-toolbar .btn .icon-trash {
    background: url(ico-delete.png) 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 13px
}

.invoice .btn-toolbar .btn .icon-move {
    background: url(ico-move.png) 0 0 no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px
}

.btn-toolbar .btn .icon-filter {
    background: url("ico-filter.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin: 0;
}

.btn-toolbar .btn-group>.btn+.dropdown-toggle {
    background: #f8f9fa;
    border: 1px solid #dde1e5;
    height: 30px;
    box-sizing: border-box;
    border-radius: 0 4px 4px 0
}

.btn-toolbar .btn-group+.btn {
    border: 1px solid #dde1e5;
    background: #fff;
    font-size: 14px;
    line-height: 21px;
    color: #212529;
    height: 30px;
    padding-top: 5px;
    box-sizing: border-box
}

.btn-toolbar .icon-download-alt {
    background: url("ico-export.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin: 2px 5px 0 0
}

.btn-toolbar .icon-print {
    background: url("ico-print.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin: 2px 5px 0 0
}

.gantt-container .btn {
    border: 1px solid #dde1e5;
    background: #fff;
    font-size: 14px;
    line-height: 21px;
    color: #212529;
    height: 30px;
    padding-top: 5px;
    box-sizing: border-box
}

.gantt-container .btn .icon-zoom-out {
    background: url(ico-zoom-minus.png) 0 0 no-repeat;
    background-size: cover;
    width: 13px;
    height: 13px
}

.gantt-container .btn .icon-zoom-in {
    background: url(ico-zoom-plus.png) 0 0 no-repeat;
    background-size: cover;
    width: 13px;
    height: 13px
}

.gantt-container .btn .icon-arrow-left {
    background: url(btn-left.png) 0 0 no-repeat;
    background-size: cover;
    width: 9px;
    height: 14px
}

.gantt-container .btn .icon-arrow-right {
    background: url(btn-right.png) 0 0 no-repeat;
    background-size: cover;
    width: 9px;
    height: 14px
}

#filter-editor .well {
    border: transparent;
    background: #fff;
    font-family: 'poppins_lightregular';
    font-size: 14px;
    line-height: 21px;
    color: #899693;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.dataTables_wrapper .ui-widget-header:first-child {
    background: #f7f7f7;
    border: 1px solid #e8ebee;
    border-bottom: transparent;
    padding: 15px 10px 10px;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.dataTables_length label {
    font-family: 'poppins_lightregular';
    font-size: 14px;
    line-height: 21px;
    color: #212529
}

select {
    background: url("btn-select.png") 100% -1px no-repeat #fff;
    border: 1px solid #dde1e5;
    border-right: 0;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 10px 0 0;
    height: 30px;
    font-size: 12px;
    line-height: 18px;
    color: #212529;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none
}

.dataTables_length select {
    background: url("btn-select.png") 100% -1px no-repeat #fff;
    border: 1px solid #dde1e5;
    border-right: 0;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 10px 0;
    width: 80px;
    height: 30px;
    font-size: 12px;
    line-height: 18px;
    color: #212529;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none
}

table.dataTable {
    border: 1px solid #e8ebee
}

table.dataTable a {
    color: #32c279
}

.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default {
    background: #fff
}

table.dataTable thead th.ui-state-default {
    border: 1px solid #e8ebee;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 70px;
    font-family: 'poppins_mediumregular';
    font-size: 12px;
    line-height: 18px;
    color: #212529
}

table.dataTable thead th div.DataTables_sort_wrapper {
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px
}

table.dataTable thead th div.DataTables_sort_wrapper span {
    position: static;
    margin-top: 0
}

.ui-state-default .ui-icon {
    background: url("ico-filter-table.png") 0 0 no-repeat;
    background-size: cover;
    width: 7px;
    height: 9px;
    margin-left: 5px
}

table.dataTable tbody th,table.dataTable tbody td {
    border-bottom: 1px solid #e8ebee;
    background: #fff;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 16px;
    color: #505555
}

table.dataTable .btn-toolbar {
    display: flex;
    margin-bottom: 10px
}

table.dataTable .btn-toolbar a.btn {
    background: #fff;
    border: 1px solid #dde1e5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

table.dataTable .btn-toolbar a.btn.inquiry-action {
    border: transparent;
    background: #5ddb9b
}

table.dataTable .btn-toolbar a.btn-danger {
    border: transparent;
    background: #f15566
}

table.dataTable .btn-toolbar a.btn .icon-ok-circle {
    background: url("ico-approve.png") 0 0 no-repeat;
    width: 14px;
    height: 11px
}

table.dataTable .btn-toolbar a.btn .icon-eye-open {
    background: url("ico-view.png") 0 0 no-repeat;
    background-size: cover;
    width: 13px;
    height: 8px
}

table.dataTable .btn-toolbar a.btn .icon-edit {
    background: url("ico-edit.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px
}

table.dataTable .btn-toolbar a.btn .icon-remove {
    background: url("ico-delete.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 13px
}

table.dataTable+.ui-widget-header {
    border: transparent;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-radius: 0
}

table.dataTable+.ui-widget-header .dataTables_info {
    width: 50%;
    font-family: 'poppins_lightregular';
    font-size: 14px;
    line-height: 21px;
    color: #212529
}

table.dataTable+.ui-widget-header .dataTables_paginate {
    display: flex;
    justify-content: flex-end;
    width: 50%
}

table.dataTable+.ui-widget-header .dataTables_paginate a {
    border: 1px solid #dde1e5;
    border-right: 0;
    display: inline-block;
    width: 25px;
    height: 30px;
    padding-top: 3px;
    font-family: 'poppins_lightregular';
    font-size: 14px;
    line-height: 21px;
    color: #212529;
    text-align: center;
    box-sizing: border-box;
    border-radius: 0;
    cursor: pointer
}

table.dataTable+.ui-widget-header .dataTables_paginate a:last-child {
    border-right: 1px solid #dde1e5
}

table.dataTable+.ui-widget-header .dataTables_paginate a:hover {
    background: #5ddb9b;
    color: #fff;
    text-decoration: none
}

table.dataTable+.ui-widget-header .dataTables_paginate a.ui-state-disabled {
    opacity: 1
}

table.dataTable+.ui-widget-header .dataTables_paginate a.previous,table.dataTable+.ui-widget-header .dataTables_paginate a.next {
    width: auto;
    padding-left: 15px;
    padding-right: 15px
}

table.dataTable+.ui-widget-header .dataTables_paginate a.previous {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

table.dataTable+.ui-widget-header .dataTables_paginate a.next {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

table.table-striped {
    border: 1px solid #e8ebee
}

table.table-striped th,table.table-striped td {
    background: #fff;
    border-color: #e8ebee;
    padding: 8px 15px;
    font-family: 'poppins_mediumregular',sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #212529
}

table.table-striped td {
    vertical-align: middle;
    font-size: 12px;
    line-height: 18px;
    color: #505555
}

table.table-striped td a {
    color: #32c279
}

table.table-striped tr td:first-child {
    text-align: center
}

table.table-striped tr td:last-child {
    white-space: nowrap
}

.table-striped tbody>tr:nth-child(odd)>td,.table-striped tbody>tr:nth-child(odd)>th {
    background: #fff
}

.table-striped tbody>tr:nth-child(odd)>th {
    border: 1px solid #e8ebee
}

.table-striped tbody>tr:nth-child(even)>td {
    background: #f8f9fa
}

.table-striped i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px
}

.table-striped .icon-eye-open {
    background: url(ico-view.png) 0 0 no-repeat;
    width: 13px;
    height: 8px
}

.table-striped .icon-envelope {
    background: url(ico-resend.png) 0 0 no-repeat;
    width: 12px;
    height: 12px
}

.table-striped .icon-download-alt {
    background: url(ico-download.png) 0 0 no-repeat;
    width: 12px;
    height: 12px
}

.table-striped .btn-mini {
    background: #fff;
    border: 1px solid #dde1e5;
    font-size: 10px;
    line-height: 135%;
    color: #212529;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.table-striped .btn.btn-small {
    background: #fff;
    border: 1px solid #dde1e5;
    height: 30px;
    font-size: 10px;
    color: #212529;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.table-striped .btn .icon-pencil {
    background: url(ico-edit.png) 0 0 no-repeat;
    width: 12px;
    height: 12px;
    margin: 0;
    background-size: contain;
    margin-top: 3px
}

.table-striped .btn-toolbar .btn-group>.dropdown-toggle {
    width: auto
}

.table-striped .btn-toolbar .btn-group>.dropdown-toggle .caret {
    margin-top: 0
}

.table th,.table td {
    font-family: 'Poppins',sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #505555;
    vertical-align: middle;
    padding: 12px 15px
}

.table td+td {
    padding-left: 5px
}

.table th a,.table td a {
    color: #32c279
}

.table i {
    display: inline-block;
    vertical-align: middle
}

.table .icon-map-marker {
    background: url(ico-map-marker2.png) 0 0 no-repeat;
    background-size: cover;
    width: 10px;
    height: 13px
}

.table .icon-user {
    background: url(user_profile2.png) 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px
}

.table .icon-road {
    background: url(ico-info-road.png) 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 10px
}

.table small {
    font-family: 'poppins_mediumregular';
    font-size: 12px;
    line-height: 18px;
    color: #212529
}

.table small.muted {
    font-weight: normal
}

.table-bordered .btn-toolbar {
    display: flex;
    margin-bottom: 10px
}

.table-bordered .btn {
    background: #fff;
    border: 1px solid #dde1e5;
    display: inline;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    line-height: 135%;
    color: #212529;
    width: 30px;
    height: 30px;
    padding: 5px;
    box-sizing: border-box
}

.table-bordered .btn .icon-eye-open {
    background: url(ico-view.png) 0 0 no-repeat;
    background-size: cover;
    width: 13px;
    height: 8px
}

.table-bordered .btn .icon-edit {
    background: url(ico-edit.png) 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px
}

.table-bordered .btn.btn-danger {
    border: transparent;
    background: #f15566
}

.table-bordered .btn.btn-danger .icon-remove {
    background: url(ico-delete.png) 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 13px
}

.table-bordered .btn.btn-info {
    width: auto
}

.table-bordered .btn.btn-info i {
    margin-right: 5px
}

.table-bordered .btn.btn-success {
    border: 1px solid #dde1e5;
    height: auto;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Poppins',sans-serif;
    text-align: left;
    box-sizing: border-box;
    background: #5ddb9b;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    border-radius: 15px
}

.table-bordered+.btn-toolbar .btn-success {
    border-radius: 15px
}

.table-bordered+.btn-toolbar .btn-success .icon-plus {
    background: url(ico-add3.png) 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px
}

#sidebar {
    background: #fff;
    box-shadow: 5px 0 15px rgba(153,172,190,0.3)
}

#sidebar>ul>li>a {
    font-size: 14px;
    line-height: 21px;
    color: #899693
}

#sidebar .big-icon.addr {
    background: url("ico-user.png") 0 0 no-repeat;
    background-size: cover;
    width: 14px;
    height: 12px;
    margin: 3px 5px 0 0
}

#sidebar .collapsed>.icon-chevron-up {
    background: url("arrow-right.png") 0 0 no-repeat
}

#sidebar>ul>li>a .icon-chevron-up {
    background: url("arrow-bottom.png") 0 0 no-repeat
}

.nav-list>li>a {
    font-size: 14px;
    line-height: 21px;
    color: #899693
}

#sidebar .big-icon.cal2 {
    background: url("ico-reservations.png") 0 0 no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px;
    margin: 3px 5px 0 0
}

#sidebar .big-icon.cal {
    background: url("ico-trips.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 14px;
    margin: 3px 5px 0 0;
}

#sidebar .big-icon.invoice {
    background: url("ico-invoices.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 14px;
    margin: 3px 5px 0 0
}

#sidebar .icon-ok {
    background: url(ico-check4.png) 0 0 no-repeat;
    background-size: cover;
    width: 14px;
    height: 11px
}

#sidebar a[data-target="#menu-rentals"] .big-icon.cal2 {
    background: url("ico-rentals.png") 0 0 no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px;
    margin: 3px 5px 0 0
}

#menu-rentals .icon-tasks {
    background: url("ico-allocations.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 14px;
    margin-top: -1px;
}

#menu-rentals li:nth-child(6) .icon-tasks {
    background: url("ico-inqueries.png") 0 0 no-repeat;
    background-size: cover;
    width: 6px;
    height: 10px;
    margin-top: 5px;
}

#menu-rentals .icon-list {
    background: url("ico-items.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 10px;
    margin: 4px 5px 0 0
}

#sidebar .icon-inbox {
    background: url("ico-record-deposit.png") 0 0 no-repeat;
    background-size: cover;
    width: 9px;
    height: 12px;
    margin-top: 3px;
}

#sidebar .big-icon.mail {
    background: url("ico-email2.png") 0 0 no-repeat;
    background-size: cover;
    width: 14px;
    height: 10px;
    margin: 5px 5px 0 0
}

#menu-email .icon-inbox {
    background: url("ico-outbox.png") 0 0 no-repeat;
    background-size: cover;
    width: 13px;
    height: 13px;
    margin-top: 3px;
}

#menu-email .icon-envelope {
    background: url("ico-log.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-top: 4px
}

#menu-email .icon-align-left {
    background: url("ico-template.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-top: 4px
}

#sidebar .icon-file {
    background: url("ico-designs.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-top: 4px
}

#sidebar .icon-upload {
    background: url("ico-external.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-top: 4px
}

#sidebar .big-icon.monitor {
    background: url("ico-reports.png") 0 0 no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px;
    margin: 3px 5px 0 0
}
#sidebar .big-icon.store {
    background: url("ico-retails.png") 0 0 no-repeat;
    background-size: contain;
    width: 14px;
    height: 14px;
    margin: 2px 5px 0 0
}

#sidebar .icon-th {
    background: url("ico-sales-by-agent.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-top: 3px
}

#sidebar .icon-gift {
    background: url(ico-gift.png) 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-top: 3px;
}

#menu-reports li:nth-child(1) .icon-th-list {
    background: url("ico-accounts.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 9px;
    margin-top: 5px
}

#menu-reports li:nth-child(3) .icon-th-list {
    background: url("ico-transactions.png") 0 0 no-repeat;
    background-size: contain;
    width: 12px;
    height: 12px;
    margin-top: 3px
}

#menu-reports .icon-list-alt {
    background: url("ico-manage.png") 0 0 no-repeat;
    background-size: cover;
    width: 13px;
    height: 12px;
    margin-top: 3px
}

#sidebar .big-icon.gear {
    background: url("ico-settings.png") 0 0 no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px;
    margin: 3px 5px 0 0
}

#menu-trips .icon-user {
    background: url(ico-guides.png) 0 0 no-repeat;
    background-size: cover;
    width: 13px;
    height: 12px;
    margin-top: 3px
}

#menu-reports .icon-th-list {
    background: url(ico-sales-by-agent.png) 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-top: 3px
}
#menu-pos .icon-shopping-cart {
    background: url(ico-launch-terminal.png) 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-top: 3px;
}
#menu-pos .icon-list-alt {
    background: url(ico-terminals.png) 0 0 no-repeat;
    background-size: cover;
    width: 11px;
    height: 12px;
    margin-top: 3px;
}
#menu-pos li:nth-child(3) .icon-list-alt {
    background: url(ico-online-orders.png) 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-top: 3px;
}
#menu-pos .icon-picture {
    background: url(ico-sell-photos.png) 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 11px;
    margin-top: 4px
}
#menu-pos li:nth-child(5) .icon-list-alt {
    background: url(ico-purchase-orders.png) 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-top: 3px
}
#menu-pos .icon-list {
    background: url(ico-manage-items-2.png) 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-top: 3px
}

#main>footer.row-fluid {
    border: 0;
    background: #fff;
    box-shadow: 0 1px 8px rgba(153,172,190,0.3)
}

#main>footer.row-fluid div {
    font-size: 12px;
    line-height: 16px;
    color: #899693
}

#main>footer.row-fluid div br {
    display: none
}

#main>footer.row-fluid a {
    color: #899693
}

.accordion-group.dashboard-widget {
    border: transparent;
    background: #fff;
    font-family: 'Poppins',sans-serif;
    border-radius: 0;
    box-shadow: 0 1px 8px rgba(153,172,190,0.3)
}

.accordion-heading .accordion-toggle {
    padding: 13px 15px
}

.accordion-heading .accordion-toggle a {
    color: #32c279
}

.accordion-heading a.accordion-toggle {
    font-family: 'poppins_mediumregular';
    font-size: 14px;
    line-height: 21px;
    color: #32c279
}

.dashboard-widget .accordion-inner {
    padding: 20px;
}

.dashboard-widget .accordion-inner p {
    font-size: 14px;
    line-height: 21px;
    color: #899693;
    padding: 15px 15px 0;
    margin-bottom: 15px
}

.dashboard-widget .table tr:first-child th {
    border-top: transparent
}

.dashboard-widget .table th {
    font-family: 'poppins_mediumregular';
    font-size: 12px;
    line-height: 18px;
    color: #212529
}

.dashboard-widget .table tr:first-child td {
    border-top: transparent;
    font-family: 'poppins_mediumregular';
    font-size: 14px;
    line-height: 21px;
    color: #212529;
    padding: 15px
}

.dashboard-widget .table td {
    font-size: 12px;
    line-height: 18px;
    color: #899693
}

.dashboard-widget .table tr:first-child td .text-error {
    color: #212529
}

.dashboard-widget .table tbody tr.warning>td {
    background: #fff
}

.dashboard-widget p a,.dashboard-widget td a {
    color: #32c279
}

.dashboard-widget .label-warning,.dashboard-widget .badge-warning {
    width: 24px;
    height: 24px;
    padding: 3px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 100%
}

.dashboard-widget .badge-warning .icon-map-marker {
    background: url("ico-map-marker.png") 0 0 no-repeat;
    width: 10px;
    height: 13px;
    margin-top: 2px
}

.dashboard-widget .text-right .btn-small {
    border: transparent;
    background: #f8f9fa;
    width: 20px;
    padding: 5px 5px;
    border-radius: 4px;
    box-sizing: border-box
}

.dashboard-widget .text-right .btn-small.btn-link {
    background: #5ddb9b
}

.dashboard-widget .text-right .btn-small .icon-ok {
    background: url("ico-check.png") 0 0 no-repeat;
    width: 10px;
    height: 8px
}

.dashboard-widget .text-right .btn-small.btn-link .icon-ok {
    background: url("ico-check2.png") 0 0 no-repeat
}

.dashboard-widget .table-hover tbody tr:hover>td,.dashboard-widget .table-hover tbody tr:hover>th {
    background-color: #f8f9fa
}

.dashboard-widget .btn-toolbar {
    margin: 15px 15px 30px
}

.dashboard-widget .text-right .dropdown-toggle {
    background: #f8f9fa;
    border: 1px solid #dde1e5;
    box-sizing: border-box;
    border-radius: 4px;
    width: 54px;
    padding: 0
}

.dashboard-widget .text-right .dropdown-toggle .icon-cog {
    border-right: 1px solid #dde1e5;
    background: url("ico-settings2.png") center center no-repeat;
    width: 34px;
    height: 20px;
    float: left;
    background-size: contain
}

.dashboard-widget .text-right .dropdown-toggle .caret {
    border-top-color: #212529
}

.dropdown-menu {
    background: #fff;
    border: 1px solid #dde1e5;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    border-radius: 4px
}

.dropdown-menu>li>a {
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #212529
}

#topbar .navbar .dropdown-menu>li>a:hover,.dropdown-menu>li>a:hover {
    background: #dde1e5 !important;
    color: #212529
}

.dropdown-submenu>a:after {
    border: transparent;
    background: url("arrow-right.png") 0 0 no-repeat;
    width: 6px;
    height: 10px;
    margin-right: -2px
}

.dropdown-menu i {
    margin-right: 7px
}

.dropdown-menu .icon-eye-open {
    background: url("ico-view.png") 0 0 no-repeat;
    width: 13px;
    height: 8px;
    margin-top: 5px;
    background-size: contain
}

.dropdown-menu>li>a:hover>.icon-eye-open {
    background: url("ico-view.png") 0 0 no-repeat;
    background-size: contain
}

.dropdown-menu .icon-edit {
    background: url("ico-edit.png") 0 0 no-repeat;
    width: 12px;
    height: 12px;
    margin-top: 3px;
    background-size: contain
}

.dropdown-menu>li>a:hover>.icon-edit {
    background: url("ico-edit.png") 0 0 no-repeat;
    background-size: contain
}

#topbar .dropdown-menu .icon-edit {
    background: url("ico-change-email.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 10px
}

.dropdown-menu .icon-ok {
    background: url("ico-check3.png") 0 0 no-repeat;
    width: 14px;
    height: 11px;
    margin-top: 5px
}

.dropdown-menu>li>a:hover>.icon-ok {
    background: url("ico-check3.png") 0 0 no-repeat;
    background-size: contain
}

.dropdown-menu .icon-user {
    background: url("user_profile2.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-top: 2px
}

.dropdown-menu>li>a:hover>.icon-user {
    background: url("user_profile2.png") 0 0 no-repeat;
    background-size: contain;
}

.dropdown-menu .icon-certificate {
    background: url("ico-security.png") 0 0 no-repeat;
    background-size: cover;
    width: 8px;
    height: 12px;
    margin-top: 1px
}

.dropdown-menu>li>a:hover>.icon-certificate {
    background: url("ico-security.png") 0 0 no-repeat;
    background-size: contain;
}

.dropdown-menu .icon-globe {
    background: url("ico-access.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-top: 1px
}

.dropdown-menu>li>a:hover>.icon-globe {
    background: url("ico-access.png") 0 0 no-repeat;
    background-size: cover;
}

.dropdown-menu .icon-lock {
    background: url("ico-logout.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-top: 1px
}

.dropdown-menu>li>a:hover>.icon-lock {
    background: url("ico-logout.png") 0 0 no-repeat;
    background-size: cover;
}

.dropdown-menu .icon-envelope {
    background: url("ico-create-request.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 10px;
    margin-top: 2px
}

.dropdown-menu>li>a:hover>.icon-envelope {
    background: url("ico-create-request.png") 0 0 no-repeat;
    background-size: cover;
}

.dropdown-menu .icon-inbox {
    background: url("ico-browse-request.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 10px;
    margin-top: 2px
}

.dropdown-menu>li>a:hover>.icon-inbox {
    background: url("ico-browse-request.png") 0 0 no-repeat;
    background-size: cover;
}

.dropdown-menu .icon-book {
    background: url("ico-browse-documantation.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-top: 1px
}

.dropdown-menu>li>a:hover>.icon-book {
    background: url("ico-browse-documantation.png") 0 0 no-repeat;
    background-size: cover;
}

.dropdown-menu .icon-road {
    background: url("ico-info-road.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 10px;
    margin-top: 5px
}

.dropdown-menu>li>a:hover>.icon-road {
    background: url("ico-info-road.png") 0 0 no-repeat;
    background-size: cover;
}

.dropdown-menu .icon-plus-sign {
    background: url("ico-invoices2.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 14px;
    margin-top: 3px
}

.dropdown-menu>li>a:hover>.icon-plus-sign {
    background: url("ico-invoices2.png") 0 0 no-repeat;
    background-size: cover;
}

.dropdown-menu .icon-search {
    background: url("ico-find.png") 0 0 no-repeat;
    background-size: cover;
    width: 13px;
    height: 13px;
    margin-top: 3px
}

.dropdown-menu>li>a:hover>.icon-search {
    background: url("ico-find.png") 0 0 no-repeat;
    background-size: cover;
}

.dropdown-menu .icon-plus {
    background: url("ico-add3.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-top: 3px
}

.dropdown-menu>li>a:hover>.icon-plus {
    background: url("ico-add3.png") 0 0 no-repeat;
    background-size: cover;
}

.dropdown-menu .icon-remove {
    background: url("ico-delete.png") 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 13px;
    margin-top: 3px;
    filter: invert(100%)
}

.dropdown-menu .icon-random {
    background: url(ico-items.png) 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 13px;
    filter: brightness(0%)
}

.dropdown-menu>li>a:hover>.icon-remove {
    background: url("ico-delete2.png") 0 0 no-repeat;
    background-size: cover;
}

.progress {
    border-radius: 4px;
    margin: 0 15px 20px;
    height: 24px
}

.progress .bar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.progress-success .bar,.progress .bar-success {
    background: #5ddb9b
}

.progress-danger .bar,.progress .bar-danger {
    background: #f15566
}

#calendar .fc-toolbar {
    margin-bottom: 10px
}

#calendar table {
    font-family: 'Poppins',sans-serif
}

.fc-prev-button {
    background: #fff;
    border: 1px solid #dde1e5;
    width: 40px;
    height: 30px;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.fc-prev-button .fc-icon {
    background: url(btn-left.png) center center no-repeat;
    background-size: cover;
    width: 9px;
    height: 14px;
    text-indent: -9999px
}

.fc-next-button {
    background: #fff;
    border: 1px solid #dde1e5;
    width: 40px;
    height: 30px;
    box-sizing: border-box;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.fc-next-button .fc-icon {
    background: url(btn-right.png) center center no-repeat;
    background-size: cover;
    width: 9px;
    height: 14px;
    text-indent: -9999px
}

.fc-right button {
    background: #fff;
    border: 1px solid #dde1e5;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #212529;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.fc-right button.fc-state-active {
    background: #f8f9fa;
    box-shadow: inset 0 0 6px rgba(33,37,41,0.25)
}

.fc-date-selector select,select.businessgroup {
    background: url("btn-select.png") 100% -1px no-repeat #fff;
    border: 1px solid #dde1e5;
    border-right: 0;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 10px;
    width: 120px;
    height: 30px;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #212529;
    padding-right: 35px;
    margin-bottom: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none
}

select.businessgroup {
    width: 220px
}

.fc-date-selector select:focus {
    background: url("btn-select-focus.png") 100% -1px no-repeat #fff;
    outline: 0
}

.fc-widget-header th {
    border: transparent;
    background: #dde1e5;
    padding: 11px;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    color: #505555;
    text-transform: uppercase
}

#calendar .fc-basic-view .fc-day-number {
    font-size: 12px;
    line-height: 18px;
    color: #505555;
    padding-left: 10px
}

.fc-event {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0
}

.fc-day-grid-event>.fc-content {
    font-size: 11px;
    line-height: 16px;
    color: #fff
}

.fc-day-grid-event .fc-time {
    font-weight: normal;
    margin-right: 6px
}

.fc-day-grid-event .fc-title {
    font-family: 'poppinsbold'
}

.fc-day-grid-event .pull-right {
    font-family: 'poppins_mediumregular'
}

.fc-unthemed .fc-today {
    background: #f7f7f7
}

.fc hr {
    border-width: 0;
    background: #e8ebee;
    height: 1px
}

.fc .fc-axis {
    padding: 4px 10px 4px 14px;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #505555
}

.nav-tabs>li>a {
    font-size: 14px;
    line-height: 21px;
    color: #212529;
    padding-left: 15px;
    padding-right: 15px
}

.nav-tabs>li>a:hover,.nav-tabs>li>a:focus {
    background: #f8f9fa;
    border: 1px solid #dde1e5
}

.nav-tabs>.active>a,.nav-tabs>.active>a:hover,.nav-tabs>.active>a:focus {
    color: #5cca92;
    font-family: 'poppins_mediumregular'
}

.tab-content .well,.well {
    background: #f8f9fa;
    border: 1px solid #e8ebee;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.tab-content .well dl {
    margin-top: 5px;
    margin-bottom: 5px !important
}

.tab-content .well .dl-horizontal dt {
    text-align: left
}

.tab-content .well .badge {
    width: 24px;
    height: 24px;
    padding: 4px 3px 0;
    margin-right: 5px;
    text-align: center;
    background: #fda94f;
    border-radius: 15px;
    box-sizing: border-box
}

.tab-content .well .label {
    background: #899693;
    font-family: 'poppins_mediumregular';
    font-size: 10px;
    line-height: 15px;
    color: #fff;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 20px;
    border-radius: 9px
}

.tab-content .well a {
    font-family: 'poppins_mediumregular';
    font-size: 14px;
    line-height: 21px;
    color: #32c279
}

.tab-content .well .dl-horizontal dt {
    font-family: 'poppins_lightregular';
    font-size: 14px;
    line-height: 21px;
    color: #212529
}

.tab-content .well .dl-horizontal dd {
    margin-left: 160px
}

.person-actions {
    background: #f8f9fa;
    border: 1px solid #e8ebee;
    padding: 15px 10px;
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.person-actions button.btn-block,.person-actions a.btn-block,.well a.btn-block {
    background: #fff;
    border: 1px solid #dde1e5;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #212529;
    text-align: left;
    box-sizing: border-box;
    border-radius: 4px
}

.well a.btn-block .icon-user {
    background: url(user_profile2.png) 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-top: 3px
}

.well a.btn-block .icon-ok {
    background: url(ico-check3.png) 0 0 no-repeat;
    background-size: cover;
    width: 14px;
    height: 11px;
    margin-top: 3px
}

.person-actions button.btn-block .caret,.person-actions a.btn-block .caret,.well a.btn-block .caret {
    float: right
}

.person-actions i {
    margin-right: 5px
}

.person-actions .icon-envelope,.well .icon-envelope {
    background: url(ico-send-email.png) 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-top: 5px
}

.person-actions .btn-group.btn-block+.btn-block .icon-envelope,.well .btn-group.btn-block+.btn-block .icon-envelope {
    background: url(ico-send-invite.png) 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-top: 5px
}

.person-actions .icon-edit,.well .icon-edit {
    background: url(ico-edit.png) 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-top: 3px
}

.person-actions .icon-resize-small,.well .icon-resize-small {
    background: url(ico-merge.png) 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-top: 3px
}

.person-actions a:not(.btn-success) .icon-plus,.well a:not(.btn-success) .icon-plus {
    background: url(ico-add-card.png) 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 9px;
    margin-top: 6px
}

.person-actions .icon-lock,.well .icon-lock {
    background: url(ico-access-account.png) 0 0 no-repeat;
    background-size: cover;
    width: 10px;
    height: 12px;
    margin-top: 3px
}

.person-actions .icon-print,.well .icon-print {
    background: url(ico-print.png) 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-top: 3px
}

.person-actions .icon-remove,.well .icon-remove {
    background: url(ico-delete.png) 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 13px;
    margin-top: 3px;
}

.person-actions .icon-eye-open,.well .icon-eye-open {
    background: url(ico-view.png) 0 0 no-repeat;
    background-size: contain;
    width: 14px;
    height: 15px;
    margin-top: 3px;
}

.person-actions .icon-chevron-left,.well .icon-chevron-left {
  background: url(ico-logout.png) 0 0 no-repeat;
  background-size: cover;
  width: 12px;
  height: 12px;
  margin-top: 3px;
  transform: scaleX(-1);
}

.person-actions button.btn-block.btn-success,.person-actions a.btn-block.btn-success,.well a.btn-block.btn-success,.btn-success {
    background: #5ddb9b;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    border-radius: 15px
}

.well a.btn-block.btn-success .icon-ok {
    background: url(ico-approve.png) 0 0 no-repeat;
    background-size: cover;
    width: 14px;
    height: 11px;
    margin-top: 4px
}

.person-actions button.btn-success .icon-plus,.person-actions a.btn-success .icon-plus,.well a.btn-success .icon-plus,.btn-success .icon-plus {
    background: url(ico-add.png) 0 0 no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-top: 5px
}

.btn-success .icon-plus {
    margin-top: 2px
}

.pager li>a,.pager li>span {
    background: #fff;
    border: 1px solid #dde1e5;
    height: 30px;
    font-size: 14px;
    line-height: 21px;
    color: #212529;
    padding: 3px 14px;
    box-sizing: border-box;
    border-radius: 15px
}

.pager li>a:hover,.pager li>span:hover {
    background: #f8f9fa
}

.pager li>a:active,.pager li>span:active {
    background: #dde1e5
}

#reports-list .btn.btn-info,#reports-filter .btn.btn-info {
    background: #83cff9;
    border: 1px solid #83cff9;
    box-sizing: border-box;
    border-radius: 4px
}

.report .title .icon-star-empty {
    background: url(ico-primary.png) 0 0 no-repeat;
    background-size: cover;
    width: 14px;
    height: 15px
}

.tabs-top .btn.btn-link {
    color: #32c279
}

#brand {
    padding: 5px 0 5px;
}

#brand h1.arctic {
    margin-left: 15px;
}

#brand h1.brand {
    margin-right: 60px;
}

body>div.container-fluid {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

@media screen and (min-width: 1200px) {
    body>div.container-fluid {
        width: 100%;
    }
}

@media(max-width: 767px) {
    #main .row-fluid.no-print+.row-fluid {
        display: block;
        padding-right: 0;
    }

    table.dataTable+.ui-widget-header {
        display: block
    }

    table.dataTable+.ui-widget-header .dataTables_info {
        width: 100%;
        text-align: center;
        margin-bottom: 10px
    }

    table.dataTable+.ui-widget-header .dataTables_paginate {
        width: 100%;
        justify-content: center
    }
}

.timepicker-default, .add-keyword input {
    width: 130px !important;
}

#triptype0_color {
    width: 50px
}


.form-inline .radio input[type="radio"] {
  margin-right: 10px;
  margin-left: 0;
  margin-top: 1px;
}

.btn-danger {
  background-color:#da4f49 !important
}

.btn-danger {
  color: #fff !important;
}

.icon-remove {
    background: url(https://sample.tourbase.com/assets/v138640613/packages/shoretours/tourbase/ico-remove.png) 0 0 no-repeat;
    width: 12px;
    height: 12px;
    margin-top: 2px;
    background-size: contain;
    filter: brightness(100);
}

.report-editor td .btn {
  width: auto
}

.report-editor .icon-remove {
    filter: brightness(0%) !important;
}

input[name="person0_type[]"]  {
    margin-top: -7px;
}

.registration-field .pull-right {
  float: none
}